// Colors
$black: rgb(51, 51, 51);

// Animations
@keyframes pulse {
  to { box-shadow: 0 0 45px rgba(255, 255, 255, 0); }
}

@keyframes slideUp {
  to {
    top: 30px;
    transform: translate(-50%, 0);
  }
}